In [17]:
import pandas as pd
import numpy as np

In [18]:
a=100
b=bin(100)

In [19]:
b

'0b1100100'

In [20]:
a=1990
b=3773j
c=a+bc

NameError: name 'bc' is not defined

In [21]:
a=True
b=False
c=a+b

In [ ]:
c

In [ ]:
a*b

In [ ]:
c=a*b
c

In [ ]:
a-b=cc

In [12]:
s='yuvrajharihar'

In [13]:
ss='''hadfdjjjshjh
dkjijssshjhj
ushjduusjs'''

In [ ]:
ss

In [ ]:
print(ss)

In [16]:
a="""yuvraj
bharat
harihar"""

In [ ]:
a

In [ ]:
print(a)

In [20]:
s='''i am "yuvraj harihar" and i am from "baramati"'''

In [ ]:
print(s)

In [ ]:
a=print(s[4])

In [ ]:
a

In [24]:
s="bbjkaskjskjakdjsoiweiwndkmiw"

In [ ]:
print(s[4])

In [ ]:
len(a)

In [ ]:
len(a+s)

In [ ]:
print(s*2)

In [ ]:
print(s*3)

In [ ]:
len((s*3))

In [ ]:
s+s

In [34]:
s="yuvraj"

In [ ]:
s+s

In [ ]:
s*2

In [ ]:
len(s*2)

In [ ]:
len(s+s)

In [ ]:
s*3

In [40]:
s='maharastra'

In [ ]:
s[0:3]

In [ ]:
s[1:4]

In [ ]:
s[:4]

In [ ]:
s[2:]

In [45]:
s="hello world"

In [ ]:
s[1:4]

In [ ]:
s[2:7]

In [48]:
s="yuvraj"

In [ ]:
len(s)

In [ ]:
s[0].upper()
s

In [ ]:
op=s[0].upper()+s[1:]
op

In [ ]:
len(s)

In [ ]:
op=s[0:1]+s[1:6].upper()
op

In [ ]:
print(op)

In [ ]:
s.upper()

In [79]:
s='YUVRAJ'

In [ ]:
s.lower()

In [ ]:
s[0]+s[1:].lower()

In [85]:
s="YUVRAJ"

In [ ]:
op=s[0]+s[1:5].lower()+s[-1]
op

In [ ]:
a="sgav"
b="shdsh"
c=a+b
print(c)

In [ ]:
a*2

In [ ]:
c=a/b
print(c)

In [100]:
a=12.45356

In [ ]:
int(a)

In [102]:
s=366363

In [109]:
oop=float(s)

In [ ]:
type(oop)

In [ ]:
a=232
complex(a)

In [ ]:
int(True)

In [ ]:
int(False)

In [ ]:
a=True
print(a)

In [ ]:
bool(1+1j)

In [ ]:
bool("yuvraj")

In [127]:
a=366367

In [ ]:
str('a')

In [ ]:
type(a)

In [135]:
a='ufuifduhe'

In [ ]:
int(a)

In [137]:
a=100

In [142]:
c=str(a)

In [ ]:
type(c)

In [144]:
s='jejdiej'

In [151]:
c=int(True)

In [ ]:
type(c)

In [153]:
a=12.45

In [156]:
c=str(a)

In [ ]:
type(c)

In [159]:
l=[1,2,3,4,5,6,7]

In [ ]:
type(l)

In [161]:
t=(1,2,3,4,5,6)

In [ ]:
type(t)

In [163]:
s={1,2,3,4,5,56,}

In [ ]:
type(s)

In [165]:
d={100:'yuvraj',200:'yub'}

In [ ]:
type(d)

In [1]:
l=[10,20,70,'yuv','shiv']

In [2]:
l.append(10)

In [ ]:
l

In [ ]:
l.append('pooja')
l

In [ ]:
l.remove(10)
l

In [ ]:
l.append(10)
l

In [12]:
l.remove(l[0])

In [ ]:
l

In [ ]:
len(l)

In [ ]:
id(l)

In [ ]:
type(l)

In [ ]:
l[0]

In [27]:

l[0]=100

In [ ]:
l

In [29]:
l[1]='tanu'

In [ ]:
l

In [ ]:
l[0:4]

In [ ]:
l.remove(10)
l

In [37]:
l.append([23,45,567])

In [ ]:
l

In [ ]:
l[-1]

In [ ]:
l.remove[23,45,567]

In [ ]:
l.pop(-1)

In [ ]:
l

In [ ]:
l.pop(-1)

In [ ]:
l1=[96,79,'nilesh','sayali',3473,'suresh']
l=l+l1
print(l)

In [ ]:
l.remove(-1)

In [ ]:
l.pop(-1)
print(l)

In [ ]:
l.append(678)
print(l)

In [87]:
l.remove(79)

In [ ]:
l

In [ ]:
l.pop(-1)
l

In [ ]:
l.pop(-1)

In [ ]:
l[-1]

In [ ]:
l[-1]
l

In [ ]:
l[-1]

In [ ]:
l.pop(-2)

In [ ]:
print(l)

In [ ]:
l[2]

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
l1

In [ ]:
l1=[i**2 for i in l1 ]
print(l1)

In [144]:
l2=l1

In [ ]:
l2=[i**2 for i in l2]
print(l2)

In [146]:
l2.remove(1)

In [ ]:
l2

In [ ]:
l2.pop(0)
l2

In [ ]:
l2.append(16)
l2

In [ ]:
l2.sort()
l2

In [ ]:
l2.append(1)
l2.sort()
l2

In [ ]:
l2

In [ ]:
l1

In [ ]:
even=[i for  i in l1 if i%2==0]
print(even)

In [ ]:
odd=[i for  i in l1 if i%2!=0]
print(odd)

In [22]:
l=[1,2,3,4,5,6,7,8,9,10]

In [24]:
l.append(12)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 12]

In [25]:
l.remove(12)

In [26]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

In [30]:
l[-1]=11

In [31]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [33]:
l1=[12,344,56,67,78,9878,3545,34,43,5,66,7,7245,566,7,7688,79]

In [34]:
l1.sort()

In [35]:
l1

[5, 7, 7, 12, 34, 43, 56, 66, 67, 78, 79, 344, 566, 3545, 7245, 7688, 9878]

In [36]:
l1[-1]

9878

In [39]:
l1.sort(reverse=False)

In [40]:
l1

[5, 7, 7, 12, 34, 43, 56, 66, 67, 78, 79, 344, 566, 3545, 7245, 7688, 9878]

In [41]:
list(set(l1))

[34, 66, 67, 5, 344, 7, 7688, 43, 12, 7245, 78, 79, 566, 9878, 56, 3545]

In [42]:
l1.sort()

In [43]:
l1

[5, 7, 7, 12, 34, 43, 56, 66, 67, 78, 79, 344, 566, 3545, 7245, 7688, 9878]

In [44]:
l1=set(l1)

In [45]:
l1

{5, 7, 12, 34, 43, 56, 66, 67, 78, 79, 344, 566, 3545, 7245, 7688, 9878}

In [46]:
type(l1)

set

In [47]:
l1=list(l1)

In [49]:
l1.sort()

In [50]:
type(l1)

list

In [51]:
def square_upto_n(n):
    return[i**2 for i in range(1+n+1)]

In [61]:
n=10

In [66]:
print( square_upto_n(n))=l

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2801183965.py, line 1)

In [67]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [69]:
max(l)

11

In [63]:
t=(1,2,3,4,5,6,7,8,9,10)

In [64]:
type(t)

tuple

In [65]:
t.sort(reverse=True)

AttributeError: 'tuple' object has no attribute 'sort'

In [70]:
min(l)

1

In [71]:
l.sort(reverse=True)

In [72]:
l

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [74]:
sqlist=[i**2 for i in l]

In [75]:
sqlist

[121, 100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [76]:
sqlist.sort()

In [77]:
sqlist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [78]:
l=[1,2,3,4,5,6,7,8,9,10]

In [117]:
l=(i**2 for i in l

_IncompleteInputError: incomplete input (1678540588.py, line 1)

In [91]:
 t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [125]:
sqt=tuple(i**2 for i in t)

In [126]:
sqt

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [127]:
s={1,2,3,4,5,6,7,8,9,10,1,2}

In [128]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [131]:
s=set()

In [132]:
type(s)

set

In [133]:
l=[]

In [134]:
type(l)

list

In [135]:
t=()

In [136]:
type(t)

tuple

In [137]:
s=set()

In [138]:
type(s)

set

In [139]:
t

()

In [140]:
s

set()

In [141]:
s={1,2,3,4,5,6,7,8,9,10}

In [142]:
s.add(22)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 22}

In [143]:
s.add(21)

In [144]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21, 22}

In [145]:
s.sort(reverse=True)

AttributeError: 'set' object has no attribute 'sort'

In [146]:
l=list(s)

In [147]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21, 22]

In [148]:
type(l)

list

In [149]:
l.sort(reverse=True)

In [150]:
l

[22, 21, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [153]:
s.update([12,23,56])

In [154]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 21, 22, 23, 56}

In [155]:
s1={123,445,566,778,889}

In [164]:
s.add(121)

In [165]:

s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 21, 22, 23, 56, 121}

In [166]:
s.remove(121)

In [167]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 21, 22, 23, 56}

In [168]:
s.update([12,3435,5656,7676])

In [169]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 21, 22, 23, 56, 3435, 5656, 7676}

In [172]:
d={100:'yuvraj'}

In [173]:
d

{100: 'yuvraj'}

In [174]:
d1={}

In [175]:
d[100]='aba'

In [176]:
d

{100: 'aba'}

In [178]:
d[200]='sonu'

In [179]:
d

{100: 'aba', 200: 'sonu'}

In [180]:
d['kaka']=121

In [181]:
d

{100: 'aba', 200: 'sonu', 'kaka': 121}

In [182]:
d[122]='aba'

In [183]:
d

{100: 'aba', 200: 'sonu', 'kaka': 121, 122: 'aba'}

In [184]:
d['kaka']=121

In [185]:
d

{100: 'aba', 200: 'sonu', 'kaka': 121, 122: 'aba'}

In [186]:
d[100]='gaga'

In [187]:
d

{100: 'gaga', 200: 'sonu', 'kaka': 121, 122: 'aba'}

In [188]:
d[100]='shay'

In [189]:
d['shay']=100

In [190]:
d

{100: 'shay', 200: 'sonu', 'kaka': 121, 122: 'aba', 'shay': 100}

In [191]:
#dict[key:value]

In [192]:
d['sonu']=232

In [193]:
d

{100: 'shay', 200: 'sonu', 'kaka': 121, 122: 'aba', 'shay': 100, 'sonu': 232}

In [194]:
r=range(10)
print(r)

range(0, 10)

In [204]:
for x in r:
    print(r)

range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)
range(0, 10)

In [205]:
r=range(10)
for i in r:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [208]:

r=range(21)
for i in r:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [209]:
i

20

In [210]:
print(i)

20

In [214]:
r=range(1,21)
for i in r:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [219]:
r=range(1,22,2)
for i in r:
    print(i)

1
3
5
7
9
11
13
15
17
19
21

In [231]:
s='yuvraj_harihar'
for x in s:
    print(x)

y
u
v
r
a
j
_
h
a
r
i
h
a
r

In [232]:
def add_number(a,b):
    return a+b